[submodule "mini-swe-agent"]
	path = mini-swe-agent
	url = https://github.com/SWE-agent/mini-swe-agent
[submodule "tinker-atropos"]
	path = tinker-atropos
	url = https://github.com/nousresearch/tinker-atropos
